<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Document</title>
  </head>
  <style>
    .main
    {
        border: 1px solid black;
        padding: 20px;
        margin: 40px auto;
        border-radius: 10px;
    }
  </style>
  <body>
    <div class="main">
        <h1>Hello, Welcome to the World!!!</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi sint ullam
          consequuntur? Earum doloremque similique accusantium reiciendis, error
          perspiciatis ad voluptate iure sapiente quos quas vitae hic maxime nobis
          veniam!
        </p>
    </div>
  
  </body>
</html>
