.home
{
    display: flex;
   
}
.home .home-container
{
    padding: 30px;
    flex: 1; 
    margin-left: 18%;

}


.booking-form {
    max-width: 400px;
    margin: 30px 0;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .form-item {
    margin-bottom: 20px;
  }
  
  .date-picker,
  .time-picker,
  .input-number {
    width: 100%;
  }
  
  .submit-button {
    width: 100%;
    background-color: #067928;
    border-color: #067928;
    font-weight: bold;
  }
  