.sidebar {
  width: 18%;
  min-height: 100vh;
  background-color: #67ad99;
  padding: 20px;
  overflow-y: auto;
}

.sidebar {
  width: 18%;
  height: 100vh;
  background-color: #67ad99;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto; /* Enable scrolling within the sidebar if necessary */
}

/* .main-content {
  margin-left: 18%; 
  padding: 20px;
} */

.sidebar .user_card {
  width: 100%;
  background-color: #067928;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  gap: 10px;
  align-items: center;
  color: white;
}
.sidebar .user_card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.link {
  color: inherit;
  text-decoration: inherit;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
.menu p {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.menu p:hover {
  background-color: #067928;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar .menu .link {
  color: #000;
  text-decoration: none;
  /* padding: 10px; */
  display: block;
}

.sidebar .menu .link.active {
  background-color: #067928;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.links {
  color: inherit;
  text-decoration: inherit;
}
